<div class="cart-container">
  <div class="row">
    <div class="col-6">
      <div class="cart">
        <div class="cart-item" *ngFor="let product of products">
          <div class="img-container">
            <img src="{{ product.img }}" alt="" />
          </div>
          <div class="item-details">
            <p style="font-weight: bold">{{ product.name }}</p>
            <p>{{ product.desc }}</p>
            <p>${{ product.price }}</p>
            <label>Quantity:</label>
            <input
              class="number"
              type="number"
              max="100"
              ngModel="{{ product.quantity }}"
              (ngModelChange)="onChange($event, product)"
            />
          </div>
        </div>
        <h2 class="d-flex justify-content-center empty-cart" *ngIf="empty">
          Cart Empty!
        </h2>
      </div>
    </div>
    <div class="col-6">
      <form
        class="cart form"
        style="margin-top: 10px"
        #form="ngForm"
        (ngSubmit)="submit()"
      >
        <p>Name:</p>
        <input
          class="form-control form-control-lg"
          type="text"
          name="name"
          required
          minlength="2"
          maxlength="30"
          placeholder="Enter Your Full Name"
          [(ngModel)]="name"
        />
        <p>Address:</p>
        <input
          class="form-control form-control-lg"
          type="text"
          name="address"
          required
          minlength="5"
          maxlength="150"
          placeholder="Enter Your Address"
          [(ngModel)]="address"
        />
        <p>Credit Card Number:</p>
        <input
          class="form-control form-control-lg"
          type="text"
          name="ccNumber"
          required
          minlength="16"
          maxlength="16"
          placeholder="Enter CC Number"
          [(ngModel)]="ccNumber"
        />
        <p>We value your business.</p>
        <input
          class="btn btn-secondary btn-lg"
          type="submit"
          [disabled]="form.invalid"
          value="Submit"
        />
      </form>
    </div>
  </div>
  <div
    style="margin-top: 70px; display: flex; justify-content: center"
    class="row"
  >
    <h3 *ngIf="!empty">Your total is ${{ total }}</h3>
  </div>
</div>
