<h2 class="empty-cart" *ngIf="empty">Cart Empty!</h2>
<div class="cart-container" *ngIf="!empty">
  <div class="cart">
    <div class="cart-item" *ngFor="let product of products">
      <img src="{{ product.img }}" alt="" />
      <div class="item-details">
        <p>{{ product.name }}</p>
        <p>{{ product.desc }}</p>
        <p>{{ product.price }}</p>
        <label>Amount:</label>
        <input
          class="number"
          type="number"
          max="100"
          ngModel="{{ product.quantity }}"
          (ngModelChange)="onChange($event, product)"
        />
      </div>
    </div>
    <h3>Your total is {{ total }}</h3>
  </div>
  <form class="cart form" #form="ngForm" (ngSubmit)="submit()">
    <p>Name:</p>
    <input
      type="text"
      name="name"
      required
      minlength="2"
      maxlength="30"
      placeholder="Enter Your Full Name"
      [(ngModel)]="name"
    />
    <p>Address:</p>
    <input
      type="text"
      name="address"
      required
      minlength="5"
      maxlength="150"
      placeholder="Enter Your Address"
      [(ngModel)]="address"
    />
    <p>Credit Card Number:</p>
    <input
      type="text"
      name="ccNumber"
      required
      minlength="16"
      maxlength="16"
      placeholder="Enter CC Number"
      [(ngModel)]="ccNumber"
    />
    <p>We value your business.</p>
    <input type="submit" [disabled]="form.invalid" value="submit" />
  </form>
</div>
