<div class="item-container" style="border-bottom: 1px solid black">
  <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <img src="{{ product.img }}" class="image" (click)="onClick()" />
    </div>
    <div class="col-6 info-container">
      <p style="font-weight: bold; margin-right: 10px">{{ product.name }}</p>
      <p style="margin-right: 10px">${{ product.price }}</p>
      <select class="selection" [(ngModel)]="selected">
        <option *ngFor="let opt of opt">{{ opt }}</option>
      </select>
      <button
        class="btn btn-primary"
        style="margin: 0px 20px; padding: 5px 25px"
        (click)="addItem(product)"
      >
        Buy
      </button>
    </div>
  </div>
</div>
