.card {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-top: 40px;
}
img {
  margin-top: 20px;
  position: relative;
  width: 170px;
  height: 150px;
  overflow: hidden;
}
@media (max-width: 496px) {
  .info-container {
    display: inline-block;
  }
  button {
    margin: 10px 5px !important;
  }
}
