<div *ngIf="product" class="item-detail-container">
  <img src="{{ product.img }}" alt="" />
  <div class="item-detail">
    <p style="font-weight: bold">{{ product.name }}</p>
    <p>{{ product.desc }}</p>
    <p>${{ product.price }}</p>
    <select
      [(ngModel)]="selected"
      class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example"
    >
      <option *ngFor="let opt of opt">{{ opt }}</option>
    </select>
    <button
      class="btn btn-primary"
      style="margin-left: 20px"
      (click)="addItem(product)"
    >
      Add to Cart
    </button>
  </div>
</div>
