.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-links {
  font-size: 24px;
  cursor: pointer;
  margin-left: 25px;
  color: white;
  text-decoration: none;
}
.nav-links:hover {
  color: grey;
}
.text-muted:hover {
  color: white !important;
}
.toTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  font-size: 56px;
  color: grey;
  text-decoration: none;
}
.arrow:hover {
  color: black;
}
