<div class="container-fluid" id="top">
  <nav class="navbar navbar-dark bg-primary">
    <div class="nav-container">
      <a class="navbar-brand" routerLink="/">
        <h1 id="store">My Store</h1>
      </a>
    </div>
    <div class="links-container">
      <a class="nav-links" routerLink="/">Products</a>
      <a class="nav-links" style="margin-left: 10px" routerLink="/cart"
        >Cart
        <mat-icon matBadge="{{ updateQty() }}" matBadgeColor="warn"
          ><span class="material-icons" value="updateQty()">
            shopping_cart
          </span></mat-icon
        >
      </a>
    </div>
  </nav>
</div>
